<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="keyName" value="release" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <applicationSettings>
    <ConsoleApp.Properties.Settings>
      <setting name="keyName" serializeAs="String" xdt:Transform="Replace">
        <value>release</value>
      </setting>
    </ConsoleApp.Properties.Settings>
  </applicationSettings>
</configuration>